<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- 
 -->
<configuration>

	<typeAliases>
		<!--Selection Header-->
			<typeAlias type="com.flexutil.shell.entity.BaseVO" alias="BaseVO" />
			
			
		<!-- Reports-->
			<typeAlias type="com.flexutil.shell.entity.reports.ReportSelectionVO" alias="ReportSelectionVO" /> 
			
	</typeAliases>
	
<!--	<mappers>-->
		<!--	Reports	-->
<!--			<mapper resource="com/flexutil/shell/dao/mappers/reports/ReportMapper.xml"/>-->
<!--			-->
<!--	</mappers>-->
</configuration>

