/* CSS file */
.HeaderCanvas {
   background-image: "assets/header/bg-header.png";
   background-repeat: "repeat";     
}
.Panel1 {
	borderStyle: solid;
	
	corner-radius:10;
	borderAlpha: 1;
	roundedBottomCorners: true;
	headerHeight: 24;
	highlightAlphas: 0, 0;
	
	borderColor: #0033cc;
	headerColors: #0033cc, #0066ff;
	/* borderColor: #b7babc;
	headerColors: #b1b7c4, #8392ab; */
	
	titleStyleName: "mypanelTitle";
	border-thickness-left:1;
	border-thickness-right:1;
	border-thickness-top:0;
	border-thickness-bottom:-5;
	
	border-thickness:1;   
}
/*
ApplicationControlBar {
   highlightAlphas: 0.5, 0;
   fillAlphas: 1, 0.86;
   fillColors: #f0f0f0, #ffffff;
   backgroundColor: #0167a7;
   backgroundAlpha: 1;
   cornerRadius: 2;
   shadowDistance: 1;
   dropShadowColor: #333333;
}

Panel {
   borderColor: #99ccff;
   borderThicknessLeft: 9;
   borderThicknessTop: 9;
   borderThicknessBottom: 9;
   borderThicknessRight: 9;
   roundedBottomCorners: true;
   cornerRadius: 14;
   headerColors: #99ccff, #99ccff;
   shadowDistance: 4;
   titleStyleName: "mypanelTitle";
}

.mypanelTitle {
   color: #000099;
   textAlign: left;
   fontSize: 12;
   fontWeight: bold;
}
*/